html,
body {
  height: 100vh;
}

body {
  background-color: #3d6db4;
  color: #2c302f;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100vw;
  display: block;
  color: white;
  background-color: #305287;
  padding: 7px;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: 900;
}
nav img {
  width: 40px;
  margin: 0 10px;
  filter: invert(98%) sepia(1%) saturate(76%) hue-rotate(336deg)
    brightness(120%) contrast(100%);
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

main .header {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .title {
  background-color: #305287;
  flex: 1 30%;
  border-radius: 20px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: xx-large;
  font-weight: 900;
}

main .search {
  max-width: 800px;
  background-color: #305287;
  flex: 1 70%;
  border-radius: 20px;
  color: white;
  padding: 10px 10px;
  display: none;
  justify-content: center;
}

.search input {
  border-radius: 15px;
  padding: 3px 10px;
  width: 50%;
}

.search span {
  border-radius: 50%;
  background-color: white;
  color: black;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 15px;
}

.project {
  height: 300px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card .add-icon {
  display: flex;
  justify-content: center;
  filter: invert(76%) sepia(0%) saturate(0%) hue-rotate(227deg) brightness(97%) contrast(93%);
}

.card .add-text {
  text-align: center;
  color: #b7b7b7;
  font-size: 1.3rem;
  font-weight: 900;
}

.project-title {
  color: #305287;
  font-size: 1.5rem;
  font-weight: 900;
}

.description {
  color: #525650;
  margin-bottom: 10px;
}

.progress progress {
  border-radius: 10px;
  width: 100%;
}

progress::-webkit-progress-bar {
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
